<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section id="logout" class="hidden bg-black rounded-2xl p-8 mx-auto w-350 fixed inset-0 z-100 max-h-fit my-auto">
        <div id="flex" class="flex flex-col items-center w-full text-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#D6D9DB" stroke="" stroke-linecap="round" stroke-linejoin="round" d="M 23.643 4.937 c -0.835 0.37 -1.732 0.62 -2.675 0.733 c 0.962 -0.576 1.7 -1.49 2.048 -2.578 c -0.9 0.534 -1.897 0.922 -2.958 1.13 c -0.85 -0.904 -2.06 -1.47 -3.4 -1.47 c -2.572 0 -4.658 2.086 -4.658 4.66 c 0 0.364 0.042 0.718 0.12 1.06 c -3.873 -0.195 -7.304 -2.05 -9.602 -4.868 c -0.4 0.69 -0.63 1.49 -0.63 2.342 c 0 1.616 0.823 3.043 2.072 3.878 c -0.764 -0.025 -1.482 -0.234 -2.11 -0.583 v 0.06 c 0 2.257 1.605 4.14 3.737 4.568 c -0.392 0.106 -0.803 0.162 -1.227 0.162 c -0.3 0 -0.593 -0.028 -0.877 -0.082 c 0.593 1.85 2.313 3.198 4.352 3.234 c -1.595 1.25 -3.604 1.995 -5.786 1.995 c -0.376 0 -0.747 -0.022 -1.112 -0.065 c 2.062 1.323 4.51 2.093 7.14 2.093 c 8.57 0 13.255 -7.098 13.255 -13.254 c 0 -0.2 -0.005 -0.402 -0.014 -0.602 c 0.91 -0.658 1.7 -1.477 2.323 -2.41 Z"/></svg>
            <p class="text-twitter-light-grey text-20 text-left font-bold mt-4">Log out of Twitter?</p>
            <p class="text-twitter-grey text-15 mt-2">You can always log back in at any time. If you just want to switch accounts, you can do that by adding an existing account. </p>

            <div class="mt-6 w-full grid gap-3">
                <button onclick="userLogout()" class="bg-twitter-light-grey text-black rounded-full px-6 py-2 font-semibold w-full hover:bg-opacity-90">Log out</button>
                <button onclick="closeLogout()" class="bg-black border border-twitter-grey text-white rounded-full px-6 py-2 font-semibold w-full hover:bg-opacity-90">Cancel</button>
            </div>
        </div>
    </section>

    <script>
            function closeLogout() {
                const overlay = document.getElementById("overlay")
                logout.classList.add("hidden")
                overlay.classList.add("hidden")
                document.body.style.overflow = "scroll";
            }

            function userLogout() {
                fetch('/logout', {
                method: 'POST',
                })

                window.location.href = '/'

                closeLogout()
            }
    </script>
</body>
</html>